<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Environment"
         value="Test"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)"/>
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <system.webServer>
    <directoryBrowse
      enabled="false"
      xdt:Transform="SetAttributes(enabled)" />

    <rewrite>
      <rules>
        <rule name="Reverse Proxy to BusTracker REST services - Dev"
              xdt:Transform="Remove"
              xdt:Locator="Match(name)">
        </rule>
        <rule name="Reverse Proxy to BusTracker REST services"
              enabled="true"
              xdt:Transform="SetAttributes"
              xdt:Locator="Match(name)">
        </rule>
        <rule name="Reverse Proxy to BusTracker authenticated user tmp file - Dev only"
              xdt:Transform="Remove"
              xdt:Locator="Match(name)">
        </rule>
        <rule name="Reverse Proxy to BusTracker logout - Dev only"
              xdt:Transform="Remove"
              xdt:Locator="Match(name)">
        </rule>        
      </rules>
    </rewrite>

  </system.webServer>
</configuration>