<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <appSettings>
    <add key="Environment" value="Dev" />
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  
  <system.webServer>
    <directoryBrowse enabled="true" />
    <rewrite>
      <rules>
        <rule name="Reverse Proxy to BusTracker REST services - Dev" enabled="true" stopProcessing="true">
          <match url="^BusTrackerServices/(.*)" />
          <action type="Rewrite" url="http://localhost:8082/{R:1}" logRewrittenUrl="true" />
        </rule>        
        <rule name="Reverse Proxy to BusTracker REST services" enabled="false" stopProcessing="true">
          <match url="^BusTrackerServices/(.*)" />
          <action type="Rewrite" url="https://bustrackerservices-api.azure-api.net/{R:1}" logRewrittenUrl="true" />
        </rule>
        <rule name="Reverse Proxy to BusTracker authenticated user tmp file - Dev only" enabled="true" stopProcessing="true">
          <match url=".auth/me$" />
          <action type="Rewrite" url="http://localhost:8081/.auth/me.json" appendQueryString="false" logRewrittenUrl="true" />
        </rule> 
        <rule name="Reverse Proxy to BusTracker logout - Dev only" enabled="true" stopProcessing="true">
          <match url=".auth/logout$" />
          <action type="Rewrite" url="http://localhost:8081/.auth/logout.html" appendQueryString="false" logRewrittenUrl="true" />
        </rule>
      </rules>
    </rewrite>
    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <remove fileExtension=".eot" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />      
    </staticContent>
  </system.webServer>
</configuration>