:root {
    --bus-color-outbound: #ff0000;
    --bus-color-inbound: #4800ff;
    --bus-color-favourite: #4cff00;
    --bus-color-aged: #dddada;
    --env-glph-dim: 2rem;
    /*--app-color: #FF05CE;*/
    --app-color: #4cff00;
    --app-color-2: #8160d4;
    --marker-radius: 1rem;
    --tracker-line-colour: #ff0000;
    --tracker-line-weight: 2;
    --tracker-line-opacity: 1;
    --tracker-speed-background-colour: #000000;
    --tracker-speed-font-colour: #ffffff;
    --tracker-time-background-colour: #8160d4;
    --tracker-time-font-colour: #ffffff;
}
html {
    font-size: 14px;
}

.appView {
    visibility: visible;
}

.appView.hidden {
    visibility: hidden;
}

.box {
    display: flex !important;
    flex-flow: column;
    height: 100%;
}

    .box .row {
/*        border: 1px dotted #0313fc;*/
        display: flex;
    }

        .box .row.center {
            justify-content: center;
        }

        .box .row.right {
            justify-content: end;
        }

        .box .row.header {
            flex: 0 1 40px;
        }

        .box .row.content {
            flex: 1 1 auto;
        }

        .box .row.footer {
            flex: 0 1 40px;
        }

/*        .box .row.header > .grid {
            border-bottom: lightgrey 1px solid;
        }*/

.bt.accuracy-circle {
    stroke: var( --app-color);
    fill: var( --app-color-2);
    stroke-opacity: 0.5;
    stroke-width: 2px;
    fill-opacity: 0.1;
}

.bt .search.panel {
    position: absolute;
    top: 3vh;
    left: 1vw;
    width: 98vw;
    max-width: 500px;
}
    .bt .search.panel .results {
        width: max-content !important;
        overflow-y: auto !important;
        max-height: 300px !important;
    }

    .bt .search.panel input {
        padding-right: 5rem !important;
        padding-left: 3rem !important;
        border: none;
    }

    .bt .search.panel i.search {
        border-top-left-radius: 50% !important;
        border-bottom-left-radius: 50% !important;
        color: var( --app-color);
        background-color: var( --app-color-2);
    }

    .bt .search.panel i.clear {
        display: block;
        right: 0 !important;
        left: unset !important;
    }

    .bt .search.panel i.clear.hidden {
        display: none;
    }

.bt .track.panel {
    position: absolute;
    display: flex;
    top: 3vh;
    left: 1vw;
    width: 90vw;
    max-width: 500px;
    background-color: #ffffff;
    border-radius: 20px 20px;
    border: solid 1px rgba(34,36,38,.15);
    display: none;
    /*opacity: 0.5;*/
}

.ui.button {
    font-size: 1em;
}

.bt i {
    background-color: transparent;
}

.bt .button {
    color: var( --app-color);
    background-color: var( --app-color-2);
}

    .bt .button:hover {
        color: var( --app-color-2);
        background-color: var( --app-color);
    }

.bt .menu-btn {
    position: absolute;
    height: 5vmin !important;
    width: 5vmin !important;
    max-height: 3rem;
    max-width: 3rem;
    min-height: 2.5rem;
    min-width: 2.5rem;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    right: 1vw;
    color: var( --app-color);
    background-color: var( --app-color-2);
}
    .bt .menu-btn.disabled {
        cursor: none;
        pointer-events: none;
    }

    .bt .menu-btn .link.item {
        color:inherit;
        background-color: inherit;
    }
    .bt .menu-btn .link.item:hover {
        color: inherit !important;
        background-color: inherit !important;
    }

    .bt .menu-btn i {
        margin: auto !important;
        font-size: 1.8rem;
    }

    .bt .menu-btn:hover {
        color: var( --app-color-2);
        background-color: var( --app-color);
    }

    .bt .menu-btn .popup {
        width: 250px !important;
        overflow-y: auto;
        max-height: 300px;
    }

    .bt .menu-btn.main {
        top: 10vh;
        cursor: auto;
    }

    .bt .menu-btn.here {
        top: 20vh;
    }

    .bt .menu-btn.me {
        top: 30vh;
    }

    .bt .menu-btn.history {
        top: 40vh;
        cursor: auto;
    }

    .bt .menu-btn.refresh {
        top: 50vh;
    }

    .bt .menu-btn.share {
        top: 60vh;
    }

.counter.container {
    position: relative !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    margin: 10px 10px 10px 10px !important;
}

    .counter.container .counter {
        font-size: 0.8rem;
    }

.icon.overlay {
    position: absolute;
    background-color: transparent;
    margin: 0px 0px 0px 0px;
}


.ui.grid {
    margin: 0em 0px 0em 0px !important;
    border: none ;
}

    .ui.grid > .row {
        padding: 0px !important;
    }

    .ui.menu {
        border: none !important;
        box-shadow: none !important;
        background: 0 0 !important;
        border-radius: 0;
    }

        .ui.menu > .popup {
            overflow-y: auto;
            max-height: 300px;
        }

#recentSearches {
    text-align: left;
}

#map {
    position: relative;
    width: 100% !important;
    height: 100% !important;
    z-index: 0;
}
body.bus {
    font-size: 1em;
    height: 100%;
    margin: 0;
}
table.bus {
    width: 100% !important;
    font-size: 0.75em;
}
table.bus#vehicles {
    color: #ffffff;
}

table#vehicles tr.bus-direction-1 {
    background-color: var(--bus-color-outbound) !important;
}

table#vehicles tr.bus-direction-2 {
    background-color: var(--bus-color-inbound) !important;
}

table#vehicles tr.favourite {
    background-color: var(--bus-color-favourite) !important;
    color: black;
}

table#vehicles tr.aged {
    background-color: var(--bus-color-aged) !important;
    color: black;
}

.bt.marker-vehicle {
    --dir: null;
    border-radius: 50%;
    color: #ffffff;
    font-size: 1rem;
    min-height: calc(var(--marker-radius) *2);
    min-width: calc(var(--marker-radius) *2);
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.bt.marker-vehicle.small {
    --dir: null;
    border-radius: 50%;
    color: #ffffff;
    font-size: 0rem;
    min-height: calc(var(--marker-radius) *1);
    min-width: calc(var(--marker-radius) * 1);
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

    .bt.marker-vehicle::after {
        border-left: calc(var(--marker-radius) *2/3) solid transparent;
        border-right: calc(var(--marker-radius) *2/3) solid transparent;
        border-bottom: calc(var(--marker-radius) *2/3) solid red;
        content: "";
        height: 0;
        width: 0;
        position: absolute;
        transform: translate(calc(sin(calc(var(--dir) * 1deg)) * 80%), calc(cos(calc(var(--dir) * 1deg)) * -160%)) rotate(calc(var(--dir) * 1deg));
        z-index: -1;
    }

    .bt.marker-vehicle.small::after {
        display:none;
    }

    /*
    * Bus icon colors.
    */
    .bt.marker-vehicle.bus-direction-1 {
        background-color: var(--bus-color-outbound);
    }

        .bt.marker-vehicle.bus-direction-1::after {
            border-bottom-color: var(--bus-color-outbound);
        }

    .bt.marker-vehicle.bus-direction-2 {
        background-color: var(--bus-color-inbound);
    }

        .bt.marker-vehicle.bus-direction-2::after {
            border-bottom-color: var(--bus-color-inbound);
        }

    .bt.marker-vehicle.aged {
        background-color: var(--bus-color-aged);
    }

    .bt.marker-vehicle.favourite {
        background-color: var(--bus-color-favourite);
    }

.bt.marker-anchor {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 0rem !important;
    height: 0rem !important;
}

.bt.info-anchor, .bt.time-anchor {
    display: flex !important;
    align-items: flex-end !important;
    justify-content: center !important;
    width: 0rem !important;
    height: 0rem !important;
}

.bt.marker-me-anchor, .bt.speed-anchor {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 0rem !important;
    height: 0rem !important;
}

.bt.info {
    background-color: #ffffff;
    border-radius: 0.5rem;
    font-size: 1rem;
    position: relative;
    border: 1px solid #ffffff;
    box-shadow: 0.5rem 0.5rem rgba(0,0,0,0.2);
    margin-bottom: 2rem !important;
    min-width: max-content;
}

    .bt.info::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 100%;
        transform: translate(-50%, 0);
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid #ffffff;
    }

    .bt.info .details {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

        .bt.info .details .properties {
            display: flex;
            flex-direction: column;
            flex: 1;
            font-size: 0.75rem;
            padding: 0.4rem;
        }


        .bt.info .details .route {
            font-size: 1.5rem;
            padding: 0.4rem;
        }

            .bt.info .details .route.bus-direction-1 {
                color: var(--bus-color-outbound);
            }

            .bt.info .details .route.bus-direction-2 {
                color: var(--bus-color-inbound);
            }

            .bt.info .details .route.aged {
                background-color: var(--bus-color-aged);
            }

            .bt.info .details .route.favourite {
                background-color: var(--bus-color-favourite);
            }

.bt.time {
    background-color: var(--tracker-time-background-colour);
    border-radius: 8px;
    color: var(--tracker-time-font-colour);
    font-size: 1rem;
    padding: 10px 15px;
    position: relative;
    min-width: max-content;
}

    .bt.time::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 100%;
        transform: translate(-50%, 0);
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid #8160d4;
    }

.bt.speed {
    background-color: var(--tracker-speed-background-colour);
    border: 1px solid var(--tracker-line-colour);
    border-radius: 4px;
    color: var(--tracker-speed-font-colour);
    font-size: 11px;
    padding: 5px 5px;
    position: relative;
    min-width: max-content;
}

.bt.line {
    stroke: var(--tracker-line-colour);
    stroke-width: var(--tracker-line-weight);
    fill: var(--tracker-line-colour);
    fill-opacity: var(--tracker-line-opacity);
}

.bt.marker-me {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    background-image: radial-gradient(circle, var(--app-color), #ffffff);
    border-radius: 50%;
    color: #FFFFFF;
    /*font-size: 1.5rem;*/
    min-width: 1.5rem !important;
    min-height: 1.5rem !important;
    border-style: solid;
    animation: scaleAnimation 3.5s infinite cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes scaleAnimation {
    0%, 100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50% {
        -webkit-transform: scale(1.3, 1.3);
        transform: scale(1.3, 1.3);
    }
}

.bt.marker-me > i {
        margin: auto;
    }

.grid .column.label {
    font-weight: bold;
}

.grid .row.stripe1 {
    background-color: #dcdcdc;
}

.env-glyph {
    position: absolute;
    display: block;
    top: calc(var(--env-glph-dim) * -1);
    left: calc(var(--env-glph-dim) * -1);
    width: 0;
    height: 0;
    margin: 0;
    border-bottom: var(--env-glph-dim) solid transparent;
    border-top: var(--env-glph-dim) solid transparent;
    border-right: var(--env-glph-dim) solid transparent;
    border-left: var(--env-glph-dim) solid transparent;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    box-shadow: 0 2px 50px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.dev.env-glyph {
    border-right-color: greenyellow;
}

.test {
    border-right-color: yellow;
}

.stg {
    border-right-color: orangered;
}

.oth {
    border-right-color: darkorchid;
}

.env-glyph::after {
    display: block;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    font-size: calc(var(--env-glph-dim) /2);
    margin-left: calc(var(--env-glph-dim) * 2/3);
    margin-top: calc(var(--env-glph-dim) / 10);
    color: black;
}

.dev.env-glyph::after {
    content: "Dev";
}

.test.env-glyph::after {
    content: "Test";
}

.stg.env-glyph::after {
    content: "Stg";
}

.oth.env-glyph::after {
    content: "Oth";
}

.prod.env-glyph::after {
    content: "";
}

.user-glyph {
    height: 25px;
    width: 25px;
    background-color: #8160d4;
    border-radius: 50%;
    display: inline-block;
}

.options > * {
    margin: 0 0 1rem 0;
}

.prompt {
    color: rgba(0, 0, 0, .87);
    font-weight: 700;
}

label.prompt {
    margin: auto 1rem auto 0;
}


.screen-message {
    position: absolute;
    left: 15%;
    z-index: 1002;
    background: white;
    border-radius: 3rem;
    width: 60%;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column-reverse;
    max-height: 35%;
    padding: 1rem;
    box-shadow: 0 2px 50px rgba(0, 0, 0, 0.3);
    transition: visibility 2s, opacity 2s;
    visibility: visible;
    opacity: 1
}

    .screen-message.app {
        bottom: 15%;
    }
    .screen-message.system {
        top: 40%;
        border: 1px solid var(--app-color);
    }

    .screen-message.hidden {
        /*display: none;*/
        visibility: hidden;
        opacity: 0
    }

    .screen-message .message-content {
        display: flex;
        margin: auto;
        min-height: 3rem;
        font-size: 1.0rem;
        overflow-y: auto;
        align-content: center;
    }

.shadow {
    box-shadow: 0.5rem 0.5rem rgba(0,0,0,0.2) !important;
}

.nowrap {
    text-wrap-mode: nowrap;
}

.options.link {
    cursor: pointer;
}

.bt.arrival .indicator {
    background-color: red;
    border-radius: 50%;
    font-size: 1rem;
    font-weight: bold;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 0.5rem;
    padding: 0.1rem;
}

.bt.arrival .destination {
    font-size: 1rem;
    display: flex;
    align-items: center;
    font-weight: bold;
}
