:root {
    --bus-color-outbound: #ff0000;
    --bus-color-inbound: #4800ff;
    --bus-color-favourite: #4cff00;
    --bus-color-aged: #dddada;
    --env-glph-dim: 2rem;
    --app-color: rgb(255, 5, 206);
    --marker-radius: 15px;
}
html {
    font-size: 14px;
}

.appView {
    visibility: visible;
}

.appView.hidden {
    visibility: hidden;
}

.box {
    display: flex;
    flex-flow: column;
    height: 100%;
}

    .box .row {
/*        border: 1px dotted #0313fc;*/
    }

        .box .row.header {
            flex: 0 1 40px;
        }

        .box .row.content {
            flex: 1 1 auto;
        }

        .box .row.footer {
            flex: 0 1 40px;
        }

/*        .box .row.header > .grid {
            border-bottom: lightgrey 1px solid;
        }*/

.bt-search {
    position: absolute;
    top: 3vh;
    left: 1vw;
    width: 98vw;
    max-width: 500px;
}
    .bt-search .results {
        width: max-content !important;
        overflow-y: auto !important;
        max-height: 300px !important;
    }

.bt-track {
    position: absolute;
    display: flex;
    top: 3vh;
    left: 1vw;
    width: 90vw;
    max-width: 500px;
    background-color: #ffffff;
    border-radius: 20px 20px;
    border: solid 1px rgba(34,36,38,.15);
    display: none;
    /*opacity: 0.5;*/
}

.bt-menu-btn {
    position: absolute;
    height: 5vmin !important;
    width: 5vmin !important;
    max-height: 3rem;
    max-width: 3rem;
    min-height: 2.5rem;
    min-width: 2.5rem;
    background-color: #ffffff;
    border-radius: 50%;
    /*    border: solid 1px rgba(34,36,38,.15);*/
    box-shadow: 0 2px 50px rgba(0, 0, 0, 0.3);
    /*opacity: 0.5;*/
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
    .bt-menu-btn.disabled {
        cursor: none;
        pointer-events: none;
    }

    .bt-menu-btn i {
        color: rgb(255, 5, 206);
        margin: auto !important;
        font-size: 1.8rem;
    }

    .bt-menu-btn.disabled i {
        color: rgba(40,40,40,.3);
        cursor: none;
        pointer-events: none;
    }

    .bt-menu-btn .link.item {
        color: rgba(0,0,0,.87) !important;
    }

        .bt-menu-btn .link.item.disabled {
            cursor: none !important;
            ;
        }

    .bt-menu-btn .popup {
        width: 250px !important;
        overflow-y: auto;
        max-height: 300px;
    }

    .bt-menu-btn.main {
        top: 10vh;
        right: 1vw;
        cursor: auto;
    }

    .bt-menu-btn.here {
        top: 20vh;
        right: 1vw;
    }

    .bt-menu-btn.me {
        top: 30vh;
        right: 1vw;
    }

    .bt-menu-btn.history {
        top: 40vh;
        right: 1vw;
        cursor: auto;
    }

    .bt-menu-btn.refresh {
        top: 50vh;
        right: 1vw;
    }

    .bt-menu-btn.share {
        top: 60vh;
        right: 1vw;
    }

.ui.grid {
    margin: 0em 0px 0em 0px !important;
    border: none ;
}

    .ui.grid > .row {
        padding: 0px !important;
    }

    .ui.menu {
        border: none !important;
        box-shadow: none !important;
        background: 0 0 !important;
        border-radius: 0;
    }

        .ui.menu > .popup {
            overflow-y: auto;
            max-height: 300px;
        }

#recentSearches {
    text-align: left;
}

#map {
    position: relative;
    width: 100% !important;
    height: 100% !important;
}
body.bus {
    font-size: 1em;
    height: 100%;
    margin: 0;
}
table.bus {
    width: 100% !important;
    font-size: 0.75em;
}
table.bus#vehicles {
    color: #ffffff;
}

.ui.button {
    font-size: 1em;
}

.routeLabel {
    background-color: black;
    color: white;
    text-shadow: 1px 1px 5px #fff, 1px 1px 5px #ccc;
    padding: .25em .25em .25em .25em;
    flex: auto;
    align-content: center;
    font-weight: bold;
    font-size: 2em;
    border-radius: 3px;
    /*border: 3px solid #000;*/
    /* Center vertically */
    /*position: absolute;*/
    top: 50%;
    font-family: helvetica, ariel, sans-serif;
    position: relative;
}

table#vehicles tr.bus-direction-1 {
    background-color: var(--bus-color-outbound) !important;
}

table#vehicles tr.bus-direction-2 {
    background-color: var(--bus-color-inbound) !important;
}

table#vehicles tr.favourite {
    background-color: var(--bus-color-favourite) !important;
    color: black;
}

table#vehicles tr.aged {
    background-color: var(--bus-color-aged) !important;
    color: black;
}

/*
* Vehicle styles in unhighlighted state.
*/
.vehicle {
    --dir: null;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 50%;
    color: #263238;
    display: flex;
    left: 50%;
    top:50%;
    font-size: var(--marker-radius);
    gap: var(--marker-radius);
    height: calc(var(--marker-radius) *2);
    width: calc(var(--marker-radius) *2);
    transform: translate(0%, 50%); /* centre justify marker, not default bottom-centre */
    justify-content: center;
    padding: 4px;
    position: relative;
}

    .vehicle::after {
        border-left: calc(var(--marker-radius) *2/3) solid transparent;
        border-right: calc(var(--marker-radius) *2/3) solid transparent;
        border-bottom: calc(var(--marker-radius) *2/3) solid red;
        content: "";
        height: 0;
        width: 0;
        position: absolute;
        transform: translate(calc(sin(calc(var(--dir) * 1deg)) * 80%), calc(cos(calc(var(--dir) * 1deg)) * -160%)) rotate(calc(var(--dir) * 1deg));
        z-index: -1;
    }

    .vehicle .route {
        align-items: center;
        display: flex;
        justify-content: center;
        color: #FFFFFF;
    }

    .vehicle .details {
        display: none;
    }

    .vehicle .vehicleRef {
        color: #9E9E9E;
        font-size: 12px;
        margin-bottom: 2px;
        margin-top: 2px;
    }


    /*
    * vehicle styles in highlighted state.
    */
    .vehicle.highlight {
        background-color: #FFFFFF;
        border-radius: 8px;
        box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
        padding: 8px 15px;
        width: auto;
        height: auto;
    }

    .vehicle.highlight::after {
        border-bottom: 9px solid #FFFFFF;
        display: none;
    }

        .vehicle.highlight .details {
            display: flex;
            color: #FFFFFF !important;
            flex-direction: column;
            flex: 1;
        }


    .vehicle.highlight .route {
        font-size: 18px;
    }


    /*
    * Bus icon colors.
    */
    /* Direction 1...*/
    .vehicle.highlight:has(.bus-direction-1) .route {
        color: var(--bus-color-outbound);
    }    

    .vehicle:not(.highlight):has(.bus-direction-1) {
        background-color: var(--bus-color-outbound);
    }

    .vehicle:not(.highlight):has(.bus-direction-1)::after {
        border-bottom-color: var(--bus-color-outbound);
    }

   
    /* Direction 2...*/
    .vehicle.highlight:has(.bus-direction-2) .route {
        color: var(--bus-color-inbound);
    }

    .vehicle:not(.highlight):has(.bus-direction-2) {
        background-color: var(--bus-color-inbound);
    }

    .vehicle:not(.highlight):has(.bus-direction-2)::after {
        border-bottom-color: var(--bus-color-inbound);
    }

    /* Highlight aged data */
    .vehicle:not(.highlight):has(.aged) {
        background-color: var(--bus-color-aged);
    }

    /* Highlight a favourite bus */
    .vehicle:not(.highlight):has(.favourite) {
        background-color: var(--bus-color-favourite);
    }

.time-tag {
    background-color: #8160d4;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 14px;
    padding: 10px 15px;
    position: relative;
}

    .time-tag::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 100%;
        transform: translate(-50%, 0);
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid #8160d4;
    }

.speed-tag {
    background-color: black;
    border: 1px solid #ff0000;
    border-radius: 4px;
    color: #ffffff;
    font-size: 11px;
    padding: 5px 5px;
    position: relative;
}

.location-small-tag {
    position: relative !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    background-color: var(--app-color);
    border-radius: 50%;
    color: #FFFFFF;
    font-size: 1.5rem;
    width: 2rem;
    height: 2rem;
}
    .location-small-tag > i {
        margin: auto;
    }

.counter.container {
    position: relative !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    margin: 10px 10px 10px 10px !important;
}

.counter.container .counter {
    font-size: 0.8rem;
}

.icon.overlay {
    position: absolute;
    background-color: transparent;
    margin: 0px 0px 0px 0px;
}

.grid .column.label {
    font-weight: bold;
}

.grid .row.stripe1 {
    background-color: #dcdcdc;
}

.env-glyph {
    position: absolute;
    display: block;
    top: calc(var(--env-glph-dim) * -1);
    left: calc(var(--env-glph-dim) * -1);
    width: 0;
    height: 0;
    margin: 0;
    border-bottom: var(--env-glph-dim) solid transparent;
    border-top: var(--env-glph-dim) solid transparent;
    border-right: var(--env-glph-dim) solid transparent;
    border-left: var(--env-glph-dim) solid transparent;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    box-shadow: 0 2px 50px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.dev.env-glyph {
    border-right-color: greenyellow;
}

.test {
    border-right-color: yellow;
}

.stg {
    border-right-color: orangered;
}

.oth {
    border-right-color: darkorchid;
}

.env-glyph::after {
    display: block;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    font-size: calc(var(--env-glph-dim) /2);
    margin-left: calc(var(--env-glph-dim) * 2/3);
    margin-top: calc(var(--env-glph-dim) / 10);
    color: black;
}

.dev.env-glyph::after {
    content: "Dev";
}

.test.env-glyph::after {
    content: "Test";
}

.stg.env-glyph::after {
    content: "Stg";
}

.oth.env-glyph::after {
    content: "Oth";
}

.prod.env-glyph::after {
    content: "";
}

.user-glyph {
    height: 25px;
    width: 25px;
    background-color: #8160d4;
    border-radius: 50%;
    display: inline-block;
}

.options > * {
    margin: 0 0 1rem 0;
}

.prompt {
    color: rgba(0, 0, 0, .87);
    font-weight: 700;
}

label.prompt {
    margin: auto 1rem auto 0;
}

.search i.clear {
    display: block;
    right: 0 !important;
    left: unset !important;
}

    .search i.clear.hidden {
        display: none;
    }

.screen-message {
    position: absolute;
    left: 15%;
    bottom: 15%;
    z-index: 1002;
    background: white;
    border-radius: 3rem;
    width: 60%;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column-reverse;
    max-height: 25%;
    padding: 1rem;
    box-shadow: 0 2px 50px rgba(0, 0, 0, 0.3);
    transition: visibility 2s, opacity 2s;
    visibility: visible;
    opacity: 1
}

    .screen-message.hidden {
        /*display: none;*/
        visibility: hidden;
        opacity: 0
    }

    .screen-message .message-content {
        display: flex;
        margin: auto;
        min-height: 3rem;
        font-size: 1.0rem;
        overflow-y: auto;
        align-content: center;
    }

#search input {
    box-shadow: 0 2px 50px rgba(0, 0, 0, 0.3);
    border: none;
}

.options.link {
    cursor: pointer;
}