<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="HTTPS Redirect" enabled="false" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                        <add input="{SERVER_PORT}" pattern="^8082$" />
          </conditions>
          <action type="Rewrite" url="https://localhost{REQUEST_URI}" appendQueryString="false" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>